* {
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    background-color: dimgrey;
    justify-content: space-between;
    padding-inline: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    list-style-type: none;
}

.active {
    font-weight: bold;
}

.btn {
    background-color: darkcyan;
    padding: 5px;
}