* {
    margin: 0px;
    padding: 0px;
    /* border: 1px red solid; */
}

body {
    min-height: 100%;
    justify-content: center;
    background-image: url('/static/assets/backgroundImg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.use-old-bg {
    background-image: url('/static/assets/backgroundImgOld.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10%;
    padding: 10px;
    background-color: #777;
}

.center {
    display: inline-flex;
    justify-content: center;
}

button, a, img{
    cursor: pointer;
}


.pageTab{
    width: 100%;
    max-width: 300px;
    display: inline-flex;
    justify-content: center;
}

.flash-msg{
    color: red;
}

.panel {
    margin: 5px;
    padding: 5px;
    border: 2px black solid;
}

#tabs {
    display: flex;
    justify-content: space-around;
}

#logoutButton {
    padding: 8px;
    background-color: tomato;
}

#profilePic {
    width: 220px;
    border-radius: 50%;
}

#leftPanel, #rightPanel {
    flex: 1;
    background-color: silver;
}

#centerPanel {
    flex: 4;
}
